// BOX COLOURS ---------------------------------------//

// .coloredBox0,
// .clickEnabledBox0:active {
//     background: #ff3dff;
// }

// .clickEnabledBox0:hover,
// .clickEnabledBox0:focus {
//     border: 10px solid #ff00ff;
//     cursor: pointer;
// }

// .coloredBox1,
// .clickEnabledBox1:active {
//     background: #ff3939;
// }

// .clickEnabledBox1:hover,
// .clickEnabledBox1:focus {
//     border: 10px solid #ff3939;
//     cursor: pointer;
// }

// .coloredBox2,
// .clickEnabledBox2:active {
//     background: #ff771b;
// }

// .clickEnabledBox2:hover,
// .clickEnabledBox2:focus {
//     border: 10px solid #ff771b;
//     cursor: pointer;
// }

// .coloredBox3,
// .clickEnabledBox3:active {
//     background: #ffee00;
// }

// .clickEnabledBox3:hover,
// .clickEnabledBox3:focus {
//     border: 10px solid #ffee00;
//     cursor: pointer;
// }

// .coloredBox4,
// .clickEnabledBox4:active {
//     background: #00ff00;
// }

// .clickEnabledBox4:hover,
// .clickEnabledBox4:focus {
//     border: 10px solid #00ff00;
//     cursor: pointer;
// }

// .coloredBox5,
// .clickEnabledBox5:active {
//     background: #0099ff;
// }

// .clickEnabledBox5:hover,
// .clickEnabledBox5:focus {
//     border: 10px solid #0099ff;
//     cursor: pointer;
// }

// .coloredBox6,
// .clickEnabledBox6:active {
//     background: #4a3dff;
// }

// .clickEnabledBox6:hover,
// .clickEnabledBox6:focus {
//     border: 10px solid #4a3dff;
//     cursor: pointer;
// }

// .coloredBox7,
// .clickEnabledBox7:active {
//     background: #ad33ff;
// }

// .clickEnabledBox7:hover,
// .clickEnabledBox7:focus {
//     border: 10px solid #ad33ff;
//     cursor: pointer;
// }

//// TESTING

.coloredBox0 {
    background: #ff3dff;
}

.clickEnabledBox0:hover,
.clickEnabledBox0:focus {
    border: 10px solid #ff3dff;
    cursor: pointer;
}

.coloredBox1 {
    background: #ff3939;
}

.clickEnabledBox1:hover,
.clickEnabledBox1:focus {
    border: 10px solid #ff3939;
    cursor: pointer;
}

.coloredBox2 {
    background: #ff771b;
}

.clickEnabledBox2:hover,
.clickEnabledBox2:focus {
    border: 10px solid #ff771b;
    cursor: pointer;
}

.coloredBox3 {
    background: #ffee00;
}

.clickEnabledBox3:hover,
.clickEnabledBox3:focus {
    border: 10px solid #ffee00;
    cursor: pointer;
}

.coloredBox4 {
    background: #00ff00;
}

.clickEnabledBox4:hover,
.clickEnabledBox4:focus {
    border: 10px solid #00ff00;
    cursor: pointer;
}

.coloredBox5 {
    background: #0099ff;
}

.clickEnabledBox5:hover,
.clickEnabledBox5:focus {
    border: 10px solid #0099ff;
    cursor: pointer;
}

.coloredBox6 {
    background: #4a3dff;
}

.clickEnabledBox6:hover,
.clickEnabledBox6:focus {
    border: 10px solid #4a3dff;
    cursor: pointer;
}

.coloredBox7 {
    background: #ad33ff;
}

.clickEnabledBox7:hover,
.clickEnabledBox7:focus {
    border: 10px solid #ad33ff;
    cursor: pointer;
}