html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);

    display: flex;
    align-items: center;
    position: relative;
}

main {
    width: 700px;
    margin: 0 auto;

}

h1 {
    margin: 0;
    font-weight: 500;
    color: #9900ff;
}

button {
    padding: 15px 40px;
    font-size: inherit;
    text-transform: uppercase;
    border: 0;
    color: white;
    background: #9900ff;
    transition: 0.3s all;
}

button:hover,
button:focus {
    color: #9900ff;
    background: #fff;
}

.gameContainer {
    width: 800px;
    padding: 50px 50px 0;
    margin: 0 auto;
    border: 1px solid deeppink;
    background: #fff;
}

.gameGrid {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 30px;
    justify-content: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayMessage {
    background: white;
    border: 1px dashed deeppink;
    width: 50%;
    padding: 30px 0;
}

.box {
    background: black;
}

.displayNone {
    display: none;
}

footer p {
    font-size: 1.6rem;
}