// GLOBAL STYLES ------------------------------------------//
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    color: #000;
    margin: 0;
    text-align: center;
    background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);

    @media (max-width: 480px) {
        font-size: calc(1.8rem + 0.5vw);
    }

    @media (max-width: 320px) {
        font-size: 1.8rem;
    }
}

p {
    line-height: 1.3;
}

header {
    border: 3px dashed lime;
}

main {
    width: 700px;
    margin: 0 auto;

    @media (max-width: 767px) {
        width: calc(610px);
    }

    @media (max-width: 480px) {
        width: 95%;
    }
}

h1,
h2,
h3 {
    font-family: 'Quantico', sans-serif;
}

h1,
h3 {
    margin: 0;
}

h1 {
    color: #ad33ff;
    font-size: 4rem;

    @media (max-width: 480px) {
        font-size: 2.7rem;
    }
}

h2 {
    margin: 5px 0;
    font-size: 3rem;

    @media (max-width: 480px) {
        font-size: 2.4rem;
    }
}

h3 {
    font-size: 2.4rem;
}

i,
a {
    cursor: pointer;
    transition: 0.3s all;

    &:hover,
    &:focus {
        color: #0099ff;
    }
}

i {
    color: #ad33ff;
}

a {
    color: inherit;
}

button {
    padding: 10px 40px;
    font-size: inherit;
    text-transform: uppercase;
    border: 0;
    background: #ad33ff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    
    &:hover,
    &:focus {
        background: #0099ff;
    }
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayNone {
    display: none;
}

.buttonContainer {
    height: 44px;
    border: 1px dashed lime;
}


// GAME BODY STYLES ------------------------------------- //

.gameContainer {
    max-height: 95vh;
    width: 800px;
    padding: 20px 20px 0;
    margin: 0 auto;
    background: #fff;

    @media (max-width: 480px) {
        padding: 5px 5px 0;
    }
}

.gameGrid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 30px;
    justify-content: center;
    position: relative;

    border: 1px solid crimson;

    @media (max-width: 767px) {
        grid-template-columns: repeat(4, 130px);
        grid-template-rows: repeat(2, 130px);
    }

    @media (max-width: 680px) {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(2, 100px);
        margin: 10px 5px;
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: repeat(4, 80px);
    }
}

// GAME INSTRUCTIONS & TEXT STYLES -----------------------------------//
.overlay,
.instructions {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.overlayMessageContainer {
    width: 65%;
    background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);
    padding: 10px;
    
}

.overlayMessage {
    background: #fff;
    padding: 30px;
    margin: 0;
}

.instructions {
    padding: 30px 0;
    background: #fff;

    @media (max-width: 480px) {
        padding: 10px;
    }
    
    p {
        width: 75%;
        margin: 20px auto;
        text-align: left;
        z-index: 1;

        &:first-of-type {
            margin-top: 8px;
        }

        @media (max-width: 480px) {
            width: 85%;
        }
    }
}

.box {
    background: #000;
}

.highScoreContainer {
    height: 30px;
    // border: 1px solid deepskyblue;

    p {
        margin: 0 0 5px 0;
    }
}


// FOOTER STYLES ---------------------------------------//
footer p {
    font-size: 1.6rem;
    margin-bottom: 3px;

    @media (max-width: 480px) {
        margin-top: 5px;
    }
}


// TESTING border-radius-------
// .box,
// .gameContainer,
// button,
// .overlayMessageContainer,
// .overlayMessage {
//     border-radius: 15px;
// }