html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  height: 100vh;
  margin: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, right bottom, from(palevioletred), color-stop(palegoldenrod), to(skyblue));
  background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);
}

header {
  border: 3px dashed lime;
}

main {
  width: 700px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Quantico', sans-serif;
}

h1 {
  margin: 0;
  font-weight: 500;
  color: #ad33ff;
}

h2 {
  margin: 5px 0;
}

h2 i {
  cursor: pointer;
  color: #ad33ff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

h2 i:hover {
  color: yellow;
}

.buttonContainer {
  height: 54px;
  border: 1px dashed lime;
}

button {
  padding: 5px 30px;
  font-size: inherit;
  text-transform: uppercase;
  border: 5px solid #ad33ff;
  background: #ad33ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

button:hover, button:focus {
  color: #ad33ff;
  background: #fff;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gameContainer {
  max-height: 95vh;
  width: 800px;
  padding: 20px 20px 0;
  margin: 0 auto;
  background: #fff;
}

.gameGrid {
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[4];
      grid-template-columns: repeat(4, 150px);
  -ms-grid-rows: (150px)[2];
      grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 1px solid crimson;
}

.overlay,
.instructions {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlayMessageContainer {
  width: 65%;
  background: -webkit-gradient(linear, left top, right bottom, from(palevioletred), color-stop(palegoldenrod), to(skyblue));
  background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);
  padding: 10px;
}

.overlayMessage {
  background: white;
  padding: 30px;
  margin: 0;
}

.instructions {
  padding: 30px 0;
  background: #fff;
}

.instructions h3 {
  margin-top: 0;
}

.instructions p {
  width: 75%;
  margin: 20px auto;
  text-align: left;
  z-index: 1;
}

.box {
  background: black;
}

.displayNone {
  display: none;
}

.highScoreContainer {
  height: 30px;
  border: 1px solid deepskyblue;
}

.highScoreContainer p {
  margin: 0 0 5px 0;
}

footer p {
  font-size: 1.6rem;
  margin-bottom: 3px;
}

.coloredBox0,
.clickEnabledBox0:active {
  background: #ff00ff;
}

.clickEnabledBox0:hover,
.clickEnabledBox0:focus {
  border: 5px solid #ff00ff;
  cursor: pointer;
}

.coloredBox1,
.clickEnabledBox1:active {
  background: #ff0000;
}

.clickEnabledBox1:hover,
.clickEnabledBox1:focus {
  border: 5px solid #ff0000;
  cursor: pointer;
}

.coloredBox2,
.clickEnabledBox2:active {
  background: #ff6600;
}

.clickEnabledBox2:hover,
.clickEnabledBox2:focus {
  border: 5px solid #ff6600;
  cursor: pointer;
}

.coloredBox3,
.clickEnabledBox3:active {
  background: #ffee00;
}

.clickEnabledBox3:hover,
.clickEnabledBox3:focus {
  border: 5px solid #ffee00;
  cursor: pointer;
}

.coloredBox4,
.clickEnabledBox4:active {
  background: #00ff00;
}

.clickEnabledBox4:hover,
.clickEnabledBox4:focus {
  border: 5px solid #00ff00;
  cursor: pointer;
}

.coloredBox5,
.clickEnabledBox5:active {
  background: #0099ff;
}

.clickEnabledBox5:hover,
.clickEnabledBox5:focus {
  border: 5px solid #0099ff;
  cursor: pointer;
}

.coloredBox6,
.clickEnabledBox6:active {
  background: #4400ff;
}

.clickEnabledBox6:hover,
.clickEnabledBox6:focus {
  border: 5px solid #4400ff;
  cursor: pointer;
}

.coloredBox7,
.clickEnabledBox7:active {
  background: #9900ff;
}

.clickEnabledBox7:hover,
.clickEnabledBox7:focus {
  border: 5px solid #9900ff;
  cursor: pointer;
}

.coloredBox0,
.clickEnabledBox0:active {
  background: #ff3dff;
}

.clickEnabledBox0:hover,
.clickEnabledBox0:focus {
  border: 10px solid #ff00ff;
  cursor: pointer;
}

.coloredBox1,
.clickEnabledBox1:active {
  background: #ff3939;
}

.clickEnabledBox1:hover,
.clickEnabledBox1:focus {
  border: 10px solid #ff3939;
  cursor: pointer;
}

.coloredBox2,
.clickEnabledBox2:active {
  background: #ff771b;
}

.clickEnabledBox2:hover,
.clickEnabledBox2:focus {
  border: 10px solid #ff771b;
  cursor: pointer;
}

.coloredBox3,
.clickEnabledBox3:active {
  background: #ffee00;
}

.clickEnabledBox3:hover,
.clickEnabledBox3:focus {
  border: 10px solid #ffee00;
  cursor: pointer;
}

.coloredBox4,
.clickEnabledBox4:active {
  background: #00ff00;
}

.clickEnabledBox4:hover,
.clickEnabledBox4:focus {
  border: 10px solid #00ff00;
  cursor: pointer;
}

.coloredBox5,
.clickEnabledBox5:active {
  background: #0099ff;
}

.clickEnabledBox5:hover,
.clickEnabledBox5:focus {
  border: 10px solid #0099ff;
  cursor: pointer;
}

.coloredBox6,
.clickEnabledBox6:active {
  background: #4a3dff;
}

.clickEnabledBox6:hover,
.clickEnabledBox6:focus {
  border: 10px solid #4a3dff;
  cursor: pointer;
}

.coloredBox7,
.clickEnabledBox7:active {
  background: #ad33ff;
}

.clickEnabledBox7:hover,
.clickEnabledBox7:focus {
  border: 10px solid #ad33ff;
  cursor: pointer;
}

@media (max-width: 767px) {
  main {
    width: calc(610px);
  }
  .gameGrid {
    -ms-grid-columns: (130px)[4];
        grid-template-columns: repeat(4, 130px);
    -ms-grid-rows: (130px)[2];
        grid-template-rows: repeat(2, 130px);
  }
}

@media (max-width: 650px) {
  main {
    width: 490px;
  }
  .gameGrid {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px);
    grid-gap: 15px;
  }
}

@media (max-width: 480px) {
  main {
    width: 85%;
  }
  .gameGrid {
    -ms-grid-columns: (100px)[2];
        grid-template-columns: repeat(2, 100px);
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
  }
}
