html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: #000;
  margin: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, right bottom, from(palevioletred), color-stop(palegoldenrod), to(skyblue));
  background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);
}

@media (max-width: 480px) {
  body {
    font-size: calc(1.8rem + 0.5vw);
  }
}

@media (max-width: 320px) {
  body {
    font-size: 1.8rem;
  }
}

p {
  line-height: 1.3;
}

main {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 480px) {
  main {
    width: 95%;
  }
}

h1,
h2,
h3,
button {
  font-family: 'Quantico', sans-serif;
}

h1,
h3 {
  margin: 0;
}

h1 {
  color: #ad33ff;
  font-size: 4rem;
}

@media (max-width: 767px) and (orientation: landscape) {
  h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.7rem;
  }
}

h2 {
  margin: 5px 0;
  font-size: 3rem;
  display: inline-block;
}

@media (max-width: 767px) and (orientation: landscape) {
  h2 {
    font-size: 2.2rem;
    margin: 0;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.4rem;
}

@media (max-width: 767px) and (orientation: landscape) {
  h3 {
    font-size: 2rem;
  }
}

i,
a {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

i:hover, i:focus,
a:hover,
a:focus {
  color: #0099ff;
}

i {
  color: #ad33ff;
  font-size: 3rem;
}

@media (max-width: 767px) and (orientation: landscape) {
  i {
    font-size: 2.2rem;
  }
}

a {
  color: inherit;
}

.startButton,
.continueButton {
  padding: 10px 40px;
  font-size: inherit;
  border: 0;
  background: #ad33ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.startButton:hover, .startButton:focus,
.continueButton:hover,
.continueButton:focus {
  background: #0099ff;
}

.continueButton {
  margin-bottom: 0;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.displayNone {
  display: none;
}

.gameContainer {
  max-height: 95vh;
  width: 800px;
  padding: 20px 20px;
  margin: 0 auto;
  background: #fff;
}

@media (max-width: 769px) {
  .gameContainer {
    width: 90%;
    padding: 10px 10px 0;
  }
}

@media (max-width: 480px) {
  .gameContainer {
    padding: 5px 5px 0;
  }
}

.gameGrid {
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 2px dotted deeppink;
}

@media (max-width: 767px) {
  .gameGrid {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .gameGrid {
    margin: 10px 0;
    height: 70vh;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.box {
  background: #000;
}

@media (max-width: 767px) {
  .box {
    width: calc(25% - 10px);
    margin: 0;
    grid-gap: 10px;
  }
}

img {
  width: 100%;
}

.overlay,
.instructions {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlayMessageContainer {
  width: 65%;
  background: -webkit-gradient(linear, left top, right bottom, from(palevioletred), color-stop(palegoldenrod), to(skyblue));
  background: linear-gradient(to bottom right, palevioletred, palegoldenrod, skyblue);
  padding: 10px;
}

.overlayMessageBg {
  padding: 30px 30px 15px;
  background: #fff;
}

.overlayMessage {
  height: 100%;
  margin: 0;
  padding-bottom: 15px;
}

.instructions {
  padding: 20px 30px 0;
  background: #fff;
  height: 100%;
  z-index: 2;
}

@media (max-width: 767px) {
  .instructions {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .instructions {
    padding: 20px 0;
  }
}

.instructions p {
  width: 75%;
  margin: 20px auto;
  text-align: left;
  z-index: 1;
}

.instructions p:first-of-type {
  margin-top: 8px;
}

@media (max-width: 767px) {
  .instructions p {
    margin: 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 10px auto;
  }
}

p.credits {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.highScoreContainer {
  height: 30px;
}

.highScoreContainer p {
  margin: 0 0 5px 0;
}

.coloredBox0 {
  background: #ff3dff;
}

.clickEnabledBox0:hover,
.clickEnabledBox0:focus {
  border: 10px solid #ff3dff;
  cursor: pointer;
}

.coloredBox1 {
  background: #ff3939;
}

.clickEnabledBox1:hover,
.clickEnabledBox1:focus {
  border: 10px solid #ff3939;
  cursor: pointer;
}

.coloredBox2 {
  background: #ff771b;
}

.clickEnabledBox2:hover,
.clickEnabledBox2:focus {
  border: 10px solid #ff771b;
  cursor: pointer;
}

.coloredBox3 {
  background: #ffee00;
}

.clickEnabledBox3:hover,
.clickEnabledBox3:focus {
  border: 10px solid #ffee00;
  cursor: pointer;
}

.coloredBox4 {
  background: #00ff00;
}

.clickEnabledBox4:hover,
.clickEnabledBox4:focus {
  border: 10px solid #00ff00;
  cursor: pointer;
}

.coloredBox5 {
  background: #0099ff;
}

.clickEnabledBox5:hover,
.clickEnabledBox5:focus {
  border: 10px solid #0099ff;
  cursor: pointer;
}

.coloredBox6 {
  background: #4a3dff;
}

.clickEnabledBox6:hover,
.clickEnabledBox6:focus {
  border: 10px solid #4a3dff;
  cursor: pointer;
}

.coloredBox7 {
  background: #ad33ff;
}

.clickEnabledBox7:hover,
.clickEnabledBox7:focus {
  border: 10px solid #ad33ff;
  cursor: pointer;
}
