html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: 500;
}

button {
  padding: 15px 40px;
  font-size: inherit;
  text-transform: uppercase;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  border: 1px solid deeppink;
}

.gameContainer {
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[4];
      grid-template-columns: repeat(4, 150px);
  -ms-grid-rows: (150px)[2];
      grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlayMessage {
  background: white;
  border: 1px dashed deeppink;
  width: 50%;
  padding: 30px 0;
}

.box {
  background: black;
  border: 1px dashed lime;
}

.displayNone {
  display: none;
}

@media (max-width: 767px) {
  .wrapper {
    width: calc(610px);
  }
  .gameContainer {
    -ms-grid-columns: (130px)[4];
        grid-template-columns: repeat(4, 130px);
    -ms-grid-rows: (130px)[2];
        grid-template-rows: repeat(2, 130px);
  }
}

@media (max-width: 650px) {
  .wrapper {
    width: 490px;
  }
  .gameContainer {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px);
    grid-gap: 15px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 85%;
  }
  .gameContainer {
    -ms-grid-columns: (100px)[2];
        grid-template-columns: repeat(2, 100px);
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
  }
}
